body {
   font-family: "Poppins", sans-serif;
   color: #0c0c0c;
   background-color: #ffffff;
   overflow-x: hidden;
   overflow-y: auto;
   background-image: url(./assets/img/body-bg.jpg);
   background-size: cover;
}

.footer_container {
   background-image: url(./assets/img/footer-bg.png);
   background-size: 100%;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: top;
   /* padding-top: 245px; */
}
